body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    display: block;
}

h1 {
    margin: 15px auto;
    text-align: center;
}

#container {
    text-align: center;
}

.inputNames {
    width: 30rem;
    height: 45rem;
}

.submitNames {
    background-color: tomato;
    color: white;
    border: 2px solid black;
    border-radius: 1rem;
    margin: 15px auto;
    width: 15rem;
    height: 2rem;
}

table {
    margin: auto;
    width: 50%;
}

td, th {
    margin: 3px;
    border: 1px solid black;
}